<div class="container">
  <div class="page-header">
    <uib-alert ng-repeat="alert in roomCtrl.alertService.formAlerts"
               type="{{ alert.type }}" dismiss-on-timeout="3000"
               close="roomCtrl.alertService.closeFormAlert($index)">
      {{ alert.msg }}
    </uib-alert>
    <h4 ng-hide="roomCtrl.editingRoomName"
        ng-click="roomCtrl.editingRoomName = true"> Welcome to
      <span class="room-name-container">{{ roomCtrl.roomName }}</span>!
    </h4>
    <h4 ng-show="roomCtrl.editingRoomName">Welcome to
    <span>
      <form>
      <input type="text" ng-model="roomCtrl.roomName"
             ng-required
             focus-input="roomCtrl.focusInput['roomName']"/>
      <button ng-click="roomCtrl.editRoomName()" class="btn btn-default btn-sm" type="submit">Save</button>
    </form>
    </span>
    </h4>
    <span class="btn-group room-toolbar">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-sliders"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a ui-sref="dashboard">Manage Rooms</a></li>
        <li><a href="" ng-click="roomCtrl.deleteRoom()">Delete Room</a></li>
      </ul>
    </span>
  </div>
</div>

<div class="container" ng-init="roomCtrl.init()">
  <div class="row">
    <div class="col-md-6 reminders-column" ng-cloak="roomCtrl.reminders">
      <ul class="list-inline">
        <li><h4>Reminders</h4></li>
        <li class="add-reminder-button">
          <button type="button" class="btn btn-sm btn-primary" ng-click="roomCtrl.openAddReminderModal()">Add Reminder</button>
        </li>
      </ul>

      <!-- TODO: Extract this out as task card directive -->
      <div class="task-card task-card--fixedWidth" ng-repeat="reminder in roomCtrl.reminders">
        <div class="task-card__description">
          <div class="task-card__reminderText">{{ reminder.name }}</div>
          <div class="task-card__actions">
            <div class="btn-group">
              <label class="btn btn-sm btn-default"
                     ng-model="checkModel.left"
                     uib-btn-checkbox
                     ng-click="roomCtrl.openEditReminderModal(reminder)">Edit</label>
              <label class="btn btn-sm btn-danger"
                     ng-model="checkModel.right"
                     uib-btn-checkbox
                     ng-click="roomCtrl.deleteReminder(reminder)">Delete</label>
            </div>
          </div>
        </div>
        <div class="task-card__details">
          <span class="task-card__datetime"><b>At:</b> {{ reminder.datetime | date : 'EEE, MMM d yyyy, h:mm a' }}</span>
          <span class="task-card__recurrence"><b>Recurrence:</b> {{ reminder.doesRecur ? reminder.recurType : 'One-Time' }}</span>
        </div>
      </div>

      <div class="container" ng-if="roomCtrl.reminders.length < 1">
        <h5 class="text-left">You don't seem to have any reminders, try adding one!</h5>
      </div>
    </div>

    <div class="col-md-6" ng-cloak="roomCtrl.roommates">
      <ul class="list-inline">
        <li>
          <h4>Roommates</h4>
        </li>
        <li class="add-roommate-button">
          <button type="button" class="btn btn-sm btn-primary" ng-click="roomCtrl.openAddRoommateModal()">Add Roommate</button>
        </li>
      </ul>

      <!--TODO: Extract this out as member card directive -->
      <div class="member-card-container">
        <div class="member-card"
             ng-repeat="roommate in roomCtrl.roommates"
             ng-mouseenter="roommate.showOptions = true"
             ng-mouseleave="roommate.showOptions = false"
             ng-click="roomCtrl.showRoommateOptions(roommate)">
          <div class="member-card__memberText"
               ng-hide="roommate.showOptions">
            <b>{{ roommate.name }}</b> <br>
            {{ roommate.phone }}
          </div>
          <span class="member-card__options" ng-show="roommate.showOptions">
            <div class="btn-group">
              <label class="btn btn-sm btn-default"
                     ng-model="checkModel.left"
                     uib-btn-checkbox
                     ng-click="roomCtrl.openEditRoommateModal(roommate)">Edit</label>
              <label class="btn btn-sm btn-danger"
                     ng-model="checkModel.right"
                     uib-btn-checkbox
                     ng-click="roomCtrl.deleteRoommate(roommate)">Delete</label>
            </div>
          </span>
        </div>
      </div>

      <div class="container" ng-if="roomCtrl.roommates.length < 1">
        <h5 class="text-left">You don't seem to have any roommates, try adding one!</h5>
      </div>

    </div>
  </div>
</div>
