<div class="modal-header">
  <h5 class="modal-title">Add Roommate</h5>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Bruce Wayne" ng-model="roommateModalCtrl.name">
  </div>

  <div class="form-group">
    <label>Phone Number</label>
    <input phone-input type="text" class="form-control" placeholder="(123) 456-7890" ng-model="roommateModalCtrl.phone">
  </div>
</div>

<div id="alert-box">
  <uib-alert ng-repeat="alert in roommateModalCtrl.alertService.formAlerts" type="{{ alert.type }}" dismiss-on-timeout="3000" close="roommateModalCtrl.alertService.closeFormAlert($index)">{{ alert.msg }}</uib-alert>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="roommateModalCtrl.add()">Add</button>
  <button class="btn btn-warning" type="button" ng-click="roommateModalCtrl.cancel()">Cancel</button>
</div>
