<a ng-if="OauthButtons.isSigningUp" ng-class="classes" ng-click="OauthButtons.loginOauth('facebook')" class="btn btn-social btn-facebook">
  <i class="fa fa-facebook"></i>
  Sign up with Facebook
</a>
<a ng-if="OauthButtons.isSigningUp" ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn btn-social btn-google">
  <i class="fa fa-google-plus"></i>
  Sign up with Google+
</a>

<a ng-if="OauthButtons.isLoggingIn" ng-class="classes" ng-click="OauthButtons.loginOauth('facebook')" class="btn btn-social btn-facebook">
  <i class="fa fa-facebook"></i>
  Log in with Facebook
</a>
<a ng-if="OauthButtons.isLoggingIn" ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn btn-social btn-google">
  <i class="fa fa-google-plus"></i>
  Log in with Google+
</a>

