$icon-font-path: "../bower_components/bootstrap/fonts/";
$fa-font-path: "../bower_components/font-awesome/fonts";
//$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
@import '../bower_components/font-awesome/scss/font-awesome';
@import 'colors.scss';
@import '../services/alertService/alert';

@import 'https://fonts.googleapis.com/css?family=Libre+Franklin';

/**
 * App-wide Styles
 */

body {
  font-family: 'Libre Franklin', sans-serif;
}

@media (min-width: 979px) {
  body {
    padding-top: 50px;
  }
}

@media (max-width: 978px) {
  body {
    padding-top: 50px;
  }
}

.col-lg-6 {
  padding-left: 0px !important;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #414141;
  padding: 0.2em 0;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Component styles are injected through grunt
/* inject:scss */
@import 'about/about';
@import 'admin/admin';
@import 'colors';
@import 'dashboard/dashboard';
@import 'group/group';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
