<form class="onboarding-form" id="add-reminders-form">

  <div class="form-group onboarding-input" id="add-reminder-name">
    <label class="onboarding-label add-reminder-label">Reminder Name</label>
    <input type="text" class="form-control"
           placeholder="e.g. Take out the garbage"
           ng-model="onboardCtrl.onboardingData.reminderName"
           focus-input="onboardCtrl.focusInput['reminders']">
  </div>

  <div class="form-group onboarding-input" id="add-reminder-assignees">
    <label class="onboarding-label add-reminder-label">Assignees</label>
    <div class="row">
      <ul class="onboarding-label" ng-repeat="roommate in onboardCtrl.onboardingData.roommates">
          <input class="onboarding-label"
                 type="checkbox"
                 ng-model="onboardCtrl.onboardingData.selectedRoommates[roommate.phone]">
          {{ roommate.name }}
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label class="onboarding-label">Date and Time</label>
    <form class="form-horizontal">
      <div class="input-group">
        <input
          type="text"
          class="input-sm"
          pick-a-date="onboardCtrl.date"
          pick-a-date-options="onboardCtrl.dateOptions"
          placeholder="Select Date"/> {{ date }}
        <input
          type="text"
          class="input-sm"
          pick-a-time="onboardCtrl.time"
          placeholder="Select Time"
          pick-a-time-options="onboardCtrl.timeOptions"/> {{ time }}
      </div>
    </form>
  </div>

  <div class="form-group">
    <label class="onboarding-label">Recurring Reminder?</label>
    <div class="recur-button">
      <input
        bs-switch
        switch-size="small"
        switch-on-text="Yes"
        switch-off-text="No"
        type="checkbox"
        ng-model="onboardCtrl.onboardingData.reminderDoesRecur">
    </div>
  </div>

  <div class="form-group" ng-if="!!onboardCtrl.onboardingData.reminderDoesRecur">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        Recurs: {{ onboardCtrl.onboardingData.reminderRecursType }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-click="onboardCtrl.onboardingData.reminderRecursType = 'Daily'"><a href="#">Daily</a></li>
        <li role="menuitem" ng-click="onboardCtrl.onboardingData.reminderRecursType = 'Weekly'"><a href="#">Weekly</a></li>
        <li role="menuitem" ng-click="onboardCtrl.onboardingData.reminderRecursType = 'Monthly'"><a href="#">Monthly</a></li>
        <li role="menuitem" ng-click="onboardCtrl.onboardingData.reminderRecursType = 'Yearly'"><a href="#">Yearly</a></li>

        <!-- TODO: Implement custom reminders -->
        <!--<li class="divider"></li>-->
        <!--<li role="menuitem" ng-click="onboardCtrl.onboardingData.reminderRecursType = 'Custom'"><a href="#">Custom</a></li>-->
      </ul>
    </div>
  </div>

  <button id="add-reminder-button" type="button" class="btn btn-primary" ng-click="onboardCtrl.addReminder()">
    Add
  </button>

</form>

  <!--TODO: Need to add ability to remove reminders-->
  <div class="add-roommates-list">
    <div class="row">
      <div class="col-lg-12">
        <ul class="onboarding-label" ng-repeat="reminder in onboardCtrl.onboardingData.reminders">
          <li>
            {{ reminder.name }} | {{ reminder.assignees }} | {{ reminder.datetime }} | {{ reminder.doesRecur ? reminder.recurType : 'One-Time Reminder' }}
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
    <span>
      <a ng-click="onboardCtrl.validate('onboarding.roommates')"class="btn btn-block btn-info input-add-roommates">
        Previous <span class="fa fa-arrow-left"></span>
      </a>
      <a class="btn btn-block btn-info input-add-roommates" ng-click="onboardCtrl.validate('finish')">
        Finish <span class="fa fa-check"></span>
      </a>
    </span>
  </div>
</div>
