.create-button {
  height: 34px;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

/* ROOM CARDS */
.group-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
}

.group-card__description {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 15px 0;
}

.group-card__groupText {
  color: #57727C;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  max-width: calc(100% - 30px);
  margin-left: 15px;
  padding-top: 5px;
}

.group-card__actions {
  margin-left: auto;
  margin-right: 10px;
}

.group-card__details {
  text-align: center;
  color: #57727C;
  font-size: 14px;
  padding: 5px 15px;
  border-top: 1px solid #D7DBDD;
  background-color: #EEF3F5;
}

.group-card__tasks {
  float: left;
}

.group-card__members {
  float: right;
}

.group-card__fixedWidth {
  flex-basis: 200px;
}
