<div class="container" ng-init="dashCtrl.init()">
  <h3>Dashboard</h3>
</div>

<div class="container">
  <button type="button" class="btn btn-primary" ng-if="!dashCtrl.isCreatingRoom" ng-click="dashCtrl.showRoomNameInput()">
    Create a new room
  </button>
</div>

<div class="container" ng-if="dashCtrl.isCreatingRoom">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control"
               placeholder="Enter a name for your room - be creative :)"
               ng-model="dashCtrl.roomName"
               focus-input="dashCtrl.isCreatingRoom"
               on-enter="dashCtrl.createRoom()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="dashCtrl.createRoom()">Create</button>
      </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>

<div class="container" ng-show="dashCtrl.hasRooms" style="margin-top: 2%">
  <div class="col-lg-6">
    <div class="room-card room-card__fixedWidth" ng-repeat="room in dashCtrl.rooms">
      <div class="room-card__description">
        <div class="room-card__roomText">
          <a ng-click="dashCtrl.goToRoom(room)" style="text-decoration: none;">{{ room.name }}</a>
        </div>
        <div class="room-card__actions">
          <div class="btn-group">
            <label class="btn btn-sm btn-danger"
                   ng-model="checkModel.middle"
                   uib-btn-checkbox
                   ng-click="dashCtrl.deleteRoom(room)">Delete</label>
          </div>
        </div>
      </div>
      <div class="room-card__details">
        <span class="room-card__reminders"> {{ room.reminders.length }} reminder{{ room.reminders.length > 1 ? 's' : ''}}</span>
        <span class="room-card__roommates"> {{ room.roommates.length }} roommate{{ room.roommates.length > 1 ? 's' : ''}} </span>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-hide="dashCtrl.hasRooms" ng-cloak>
  <h5 class="text-center">Looks like you don't have any rooms - try adding one?</h5>
</div>


