<div class="modal-header">
  <h5 class="modal-title">Add Reminder</h5>
</div>
<div class="modal-body">


  <div class="form-group">
    <label>Reminder Name</label>
    <input type="text" class="form-control" placeholder="e.g. Take out the garbage" ng-model="reminderModalCtrl.reminder.name">
  </div>

  <div class="form-group">
    <label>Assignees</label>
    <div class="row">
      <ul ng-repeat="roommate in reminderModalCtrl.roommates">
        <input type="checkbox"
               ng-model="reminderModalCtrl.reminder.assignees[roommate.phone]">
        {{ roommate.name }}
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label>Date & Time</label>
    <form class="form-horizontal">
      <!--<div class="form-group">-->
        <p class="input-group">
          <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="reminderModalCtrl.reminder.datetime" is-open="reminderModalCtrl.dateTimePickerOpen" />
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="reminderModalCtrl.openReminderDateTimePicker($event)"><i class="fa fa-calendar-plus-o"></i></button>
              </span>
        </p>
      <!--</div>-->
    </form>
  </div>

  <div class="form-group">
    <label>Recurring Reminder?</label>
    <input type="checkbox" ng-model="reminderModalCtrl.reminder.doesRecur">
  </div>

  <div class="form-group" ng-if="!!reminderModalCtrl.reminder.doesRecur">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        {{ reminderModalCtrl.reminder.recurType }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-click="reminderModalCtrl.reminder.recurType = 'Daily'"><a href="#">Daily</a></li>
        <li role="menuitem" ng-click="reminderModalCtrl.reminder.recurType = 'Weekly'"><a href="#">Weekly</a></li>
        <li role="menuitem" ng-click="reminderModalCtrl.reminder.recurType = 'Monthly'"><a href="#">Monthly</a></li>
        <li role="menuitem" ng-click="reminderModalCtrl.reminder.recurType = 'Yearly'"><a href="#">Yearly</a></li>
      </ul>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="reminderModalCtrl.add()">Add</button>
  <button class="btn btn-warning" type="button" ng-click="reminderModalCtrl.cancel()">Cancel</button>
</div>
