<div class="modal-header">
  <h5 class="modal-title">Add Member</h5>
</div>
<div class="modal-body" on-enter="memberModalCtrl.add()" tabindex="0">
  Hello
  <div ng-if="memberModalCtrl.FBFriends.length > 0">
    Facebook Friends on Higgins:
    <div ng-repeat="friend in memberModalCtrl.FBFriends">
      {{ friend }}
    </div>
  </div>
  <div ng-if="memberModalCtrl.FBFriends === []">
    Looks like you don't have any Facebook Friends on Higgins, want to send them a message to join?

    <div>

    </div>
  </div>
</div>

<div id="alert-box">
  <uib-alert ng-repeat="alert in memberModalCtrl.alertService.formAlerts" type="{{ alert.type }}" dismiss-on-timeout="3000" close="memberModalCtrl.alertService.closeFormAlert($index)">{{ alert.msg }}</uib-alert>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="memberModalCtrl.add()">Add</button>
  <button class="btn btn-warning" type="button" ng-click="memberModalCtrl.cancel()">Cancel</button>
</div>
