<div class="container" ng-init="groupCtrl.init()">
  <div class="page-header">
    <uib-alert ng-repeat="alert in groupCtrl.alertService.formAlerts"
               type="{{ alert.type }}" dismiss-on-timeout="3000"
               close="groupCtrl.alertService.closeFormAlert($index)">
      {{ alert.msg }}
    </uib-alert>

    <h4 ng-hide="groupCtrl.editingGroupName"
        ng-click="groupCtrl.editingGroupName = true"><span class="group-name-container">{{ groupCtrl.groupName }}</span>
    </h4>

    <h4 ng-show="groupCtrl.editingGroupName">

      <span>
        <form>
          <input type="text" ng-model="groupCtrl.groupName"
                 ng-required
                 focus-input="groupCtrl.focusInput['groupName']"/>
          <button ng-click="groupCtrl.editGroupName()" class="btn btn-default btn-sm" type="submit">Save</button>
      </form>
      </span>
    </h4>

    <span class="btn-group group-toolbar" ng-hide="groupCtrl.editingGroupName">

      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-sliders"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a ui-sref="dashboard">Manage Groups</a></li>
        <li><a href="" ng-click="groupCtrl.deleteGroup()">Delete Group</a></li>
      </ul>

    </span>

    <uib-tabset active="active" class="group-options">
      <uib-tab index="0" ui-sref=".tasks" heading="Tasks"></uib-tab>
      <uib-tab index="1" ui-sref=".members" heading="Members"></uib-tab>
    </uib-tabset>

  </div> <!-- /div -->

  <div id="group-views" ui-view></div>

</div>
